/** Page Text Color: #ADB888 **/
/** Input box border color: #ADB888 **/
/** Background Color: #FEEBF9 **/
/** tab background color: #FECFF6 **/
/** Media link background: #ADB888 **/

/** IMAGES **/

#divTopRight {
    background: url(ne.png) top right;
}

#divBar {
    background: url(nw.png) top left;
}

#divClose {
    background: url('close.png') no-repeat; /* close button */
}

#divMin {
    background: url('min.png') no-repeat; /* min button */
}

#divMax {
    background: url('max.png') no-repeat; /* max button */
}

.stars {
    background: transparent url(stars-small.gif) repeat-x scroll 0pt -100px;
}

.stars-05, .stars-10, .stars-15, .stars-20, .stars-25, .stars-30, .stars-35, .stars-40, .stars-45, .stars-50 {
    background: transparent url(stars-small.gif) repeat-x scroll 0pt 0px;
}

.disclose-open {
    background: url(disclose-open.png) no-repeat; /* disclose open image */
}

.disclose-close {
    background: url(disclose-close.png) no-repeat; /* disclose close image */
}

#divBottomLeft {
    background: url(sw.png) no-repeat bottom left; /* bottom left corner image */
}

#divHandle {
    background: url(resize-handle.png) no-repeat; /* resize handle image */
}

/** Colors **/

.filter, .private-to-you {
	background-color:#EDEDED;
	color:#323232;
}

body, pre, #menu li:hover #menu-new-note, #menu li:hover #menu-view-more {
    color: #DDDDDD;
}

input[type=text], input[type=password], textarea, .nexpanded .note a.imglnk, .nexpanded .note, #replynotesummary, #note-detail-body p:hover, #note-detail, #user-note-image, .note-system-message img, #sendtohead, .image img, #people h3, #reply-people h3, #request-div, .messagewin, #request-img img, #leftwintitle, #people ul li img, #reply-people ul li img, #filter-div, .person, .person .img-link img, #profile-view #profile-image img, #profile-view h3 {
    border-color: #dddddd;
}

#note-detail-body p {
    border-bottom-color: #dddddd !important;
}

#divTop, #divContentStrip, #menu, #menu-new-note, #menu-view-more, #statusbar, .toolwin, .messagewin, #note-detail-body p:hover {
    background: #2D2D2D url('head-bg.png');
}

.media-link {
    background-color: #222222;
    color: #DDDDCF;
}

#settings-tabs li.tab-selected, #settings .tab-pane, #menu .menu-divider, #menu .menu-divider:hover, #login-form, #reply-notes, #favorites, #notes, #people, .tool-selected, .sub-toolbar {
    background-color: #000000 !important;
}

.nexpanded .reply, #settings-app-transparency-track {
    background-color: #222222;
}

.ntt-selected {
    color: #DDDDDD; /* new note button text color */
    background-color: #222222 !important; /* new note background color */
    font-weight: bold;
}

#people ul li, #reply-people ul li {
    color: #222222; /* people list text color */
}
