/**
 * Pownce Desktop Style
 * 
 * TOC
 * - Login Win
 * - Statusbar
 * - Toolbar
 * - Tool win
 * - Notes View
 * - Dialog Style
 * - New View
 * 
 */

a {
	color:#004899;
	text-decoration:none;
	cursor:hand;
}


body {
	font-family:"Lucida Grande";
}

.toolwin, .messagewin {
	display:none;
}

input[type=button] {
	padding: 6px 20px;
}

div.tooltip {
    padding: 2px 5px 2px 5px;
    margin: 5px;
    background-color: #FFFFDD;
    border: 1px dotted #AAAAAA;
    z-index: 6;
    color: #394244;
}

/************** BEGIN Login Win ***************/
.login {
	background-color:#cfcfcf;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 22px;
}

.login div {
	border-top: 1px inset #000;
	margin:0 20px 0 20px;
	padding: 30px 0 0 0;
	text-align:center;
}

.login img {
	vertical-align: middle;
}

.login form {
	margin: 30px 30px 0px 30px;
}

.login form div {
	border:none;
	margin:0 0 12px 0;
	text-align:left;
	padding: 0;
}

.login form label {
	display: block;
	margin-top: 3px;
	font-weight: bold;
	font-size: 8pt;
}

.login form input[type=text], .login form input[type=password] {
	display:block;
	font-size: 12pt;
	width: 300px;
	border:1px solid #7e7e7e;
	padding: 3px 5px;
}

.login form input[type=checkbox] {
	float: left;
	clear: both;
	margin-top: -1px;
}

.login form a {
	float: right;
	margin-top: 8px;
}

/************** END Login Win ****************/



/************** BEGIN Statusbar ****************/

#statusbar {
	background-color: #cfcfcf;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #878787;
	height: 22px;
	padding: 0 0 0 10px;
}

#statusbar #status-message {
	margin-top: 3px;
}

#statusbar #refresh-button {
	display:none;
	float:right;
	cursor:hand;
	padding-top:4px;
	padding-right:15px;
}

/************** END Statusbar ****************/


/************** BEGIN Toolbar ****************/
#toolbar {
	background-color: #cfcfcf;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 10px;
}

#toolbar .toolbutton {
	width: 30px;
	height: 30px;
	float: left;
	padding-right: 3px;
}

#toolbar .selected-toolbutton {
	background: url(images/selected-toolbutton.png) no-repeat top left;
}

/************** END Toolbar ****************/



/************** BEGIN Tool win ****************/
.toolwin {
	position: absolute;
	top: 31px;
	left: 0;
	right: 0;
	bottom: 23px;
	overflow: auto;
}
/************** END Tool win ****************/

/************** BEGIN Notes View ****************/

/*
 * Note HTML Layout
 * 
 * <li>
 * 		<div class="note link">
 * 			<div class="recipients">Public</div>
 * 			<a class="imglnk">
 * 				<img src="http://api.pownce.com/profile_photos/b/l/o/blogkitten/14596_small.jpg">
 * 			</a>
 * 			<p>NOTE BODY</p>
 * 			<div class="media-object">
 * 				<a class="media-object-link">
 * 					{embed object or image}
 * 				</a>
 * 			</div>
 * 			<a class="media-link" href="#">http://blog.pownce.com/20...</a>
 * 			<div class="bottomdetails"><a href="#" style="color: rgb(0, 72, 153); " id="2436127_replies">1 Reply</a><a style="color: rgb(0, 72, 153); " href="#" class="forwardlink">Forward</a><a style="color: rgb(0, 72, 153); " href="#" class="favoritelink">Favorite</a></div>
 * 		</div>
 * </li>
 * 
 */

#notes {
	margin: 0;
	padding: 0;
	list-style: none;
}

#notes li {
	padding: 6px 6px 6px 43px;
	margin: 0;
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;	
	position: relative;
	border-bottom: 1px solid #cfcfcf;
}

#notes li .imglnk {
	position: absolute;
	left: 6px;
	top: 6px;
}

#notes li p {
	margin-top: 0;
}

#notes li .media-object img {
	max-width: 90%;
	border: 1px solid #8fb4c7;
	padding: 2px;
}

#notes .imglnk img {
	-webkit-border-radius: 3px;
	border: 1px solid #8fb4c7;
	padding: 2px;
	width: 24px;
	height: 24px;
}

#notes .recipients {
	background: #999;
	float: right;
	color: #fff;
	padding: 5px 5px 3px 5px;
	margin: -10px -2px 5px 10px;
	font-size: 10px !important;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
}

#notes li .media-link {
	min-height: 1.3em;
	margin: 10px 0 6px 0;
}

#notes li div.media-link a {
	background: #8fb4c7;
	color: #355362;
	-webkit-border-radius: 3px;
	font-size: 10px !important;
	padding: 3px 14px;
}

#notes li .media-object {
	margin-bottom: 10px;
}

#notes li .bottomdetails {
	padding-top: 6px;
	text-align: right;
	color: #666;
}

#notes li .bottomdetails a {
	margin-left: 1em;
	font-weight: bold;
	font-size: 8pt;
}

#notes li .bottomdetails span {
	margin-left: 1em;
	font-size: 8pt;
}

.note-forward, .note-delete, .note-favorite {
	display: block;
	text-indent: 5000px;
	background: url(images/note-favorite.png) no-repeat;
	width: 12px;
	height: 12px;
	position: absolute;
	left: -2px;
	bottom: 5px;
	display: none;
}

.note-forward {
	left: 12px;
	background-image: url(images/note-forward.png);
}

.note-delete {
	left: 24px;
	background-image: url(images/note-delete.png);
}

#notes .reply .note-delete {
	left: -2px;
}

#notes li:hover .note-delete, #notes li:hover .note-favorite, #notes li:hover .note-forward {
	display: block;
}

.media-audio embed {
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	height: 26px;
	padding-right: 3px;
}

/************** END Notes View ****************/

/************** BEGIN Dialog Style ****************/

.transparent-screen {
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#cfcfcf;
	opacity: 0.7;
	z-index:7;
}

.dialog, .dialog-info, .dialog-confirm {
	display: none;
	background-color: #cfcfcf;
	background-position: 15px 15px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50px;
    left: 1%;
    right: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	z-index:8;
	border: 1px solid #666;
	-webkit-border-radius: 3px;
	padding: 15px 15px 15px 45px;
	opacity: 1;
}

.dialog-info {
	 background-image: url(images/dialog-warning.png);
}

.dialog-confirm {
	background-image: url(images/dialog-information.png);
}

.dialog input, .dialog-info input, .dialog-confirm input  {
	float: right;
}

.dialog h3, .dialog-info h3, .dialog-confirm h3 {
	margin: 0 0 5px 0;
}

.dialog p, .dialog-info p, .dialog-confirm p {
	margin: 0 0 5px 0;
}

input.button-1 {
	font-weight: bold;
}

/************** END Dialog Style ****************/

/************** BEGIN New View ****************/

#new-view {
	background-color: #cfcfcf;
	top: 30px;
	bottom: 22px;
}

#new-view .new-button {
	float:left;
	
}

#new-view .new-toolbar {
	height:30px;
	padding-left:10px;
}

#new-view .new-button {
	margin-right: 1em;
	padding:5px 10px 5px 25px;
	cursor:hand;
}

#new-view .new-selected {
	background-color:#ededed;
	border:1px inset #000;
	-webkit-border-radius:3px;
}

#new-message {
	background:url(images/new-message.png) no-repeat 5px center;
}

#new-link {
	background:url(images/new-link.png) no-repeat 5px center;
}

#new-file {
	background:url(images/new-file.png) no-repeat 5px center;
}

#new-event {
	background:url(images/new-event.png) no-repeat 5px center;
}

.new-message-type #when, .new-message-type #what, .new-message-type #where, .new-message-type #url, .new-message-type #file,
.new-link-type #when, .new-link-type #what, .new-link-type #where, .new-link-type #file,
.new-file-type #when, .new-file-type #what, .new-file-type #where, .new-file-type #url, 
.new-event-type #url, .new-event-type #file {
	display:none;
}

#send-to-filter, #forward-to-filter {
	position:relative;
	background-color:#fff;
	z-index:4000;
	margin:0px;
	padding:0px;
	list-style-type:none;
	border:1px solid #eee;
	height:200px;
	width:200px;
	overflow:auto;
	margin-top:-2px;
	margin-left:45px;
	margin-bottom:-200px;
	color: #394244;
}

#forward-to-filter {
	margin-left:55px;
}

#send-to-filter li, #forward-to-filter li {
	margin:0px;
	padding:5px;
	cursor:hand;
	border-bottom:1px solid #eee;
	height:30px;
}

#send-to-filter li:hover, #send-to-filter #selectedsendto, #forward-to-filter li:hover, #forward-to-filter #selectedsendto {
	background-color:#C2D7EF;
}

#send-to-filter .photo, #forward-to-filter .photo {
	float:left;
	margin-right:5px;
}

#send-to-filter .name, #forward-to-filter .name {
	font-weight:normal;
	font-size:10pt;
}

#send-to-filter .username, #forward-to-filter .username {
	font-weight:normal;
	font-size:8pt;
}

/************** END New View ****************/
