.login {
	background-color:#cfcfcf;
}

#statusbar {
	background-color: #cfcfcf;
}

#toolbar {
	background-color: #cfcfcf;
}

.dialog {
	background-color: #cfcfcf;
}

#new-view {
	background-color: #cfcfcf;
}

#new-view .new-selected {
	background-color:#ededed;
}

