html {
	background-color:WindowFrame;
}

.login {
	background-color:inherit;
}

#statusbar {
	background-color:inherit;
}

#toolbar {
	background-color:inherit;
}

.dialog {
	background-color:inherit;
}

#new-view {
	background-color:inherit;
}

#new-view .new-selected {
	background-color:#ededed;
}

