html {
	background-color:WindowFrame;
}

.login {
	background-color:WindowFrame;
}

#statusbar {
	background-color:WindowFrame;
}

#toolbar {
	background-color:WindowFrame;
}

.dialog, .dialog-info, .dialog-confirm, #forward-note {
	background-color:WindowFrame;
}

#new-view {
	background-color:WindowFrame;
}

#new-view .new-selected {
	background-color:#ededed;
}

