.login {
	background-color:#eae6d3;
}

#statusbar {
	background-color: #eae6d3;
}

#toolbar {
	background-color: #eae6d3;
}

.dialog {
	background-color: #eae6d3;
}

#new-view {
	background-color: #eae6d3;
}

#new-view .new-selected {
	background-color:#ededed;
}
