/** Page Text Color: #ADB888 **/
/** Input box border color: #ADB888 **/
/** Background Color: #ADBD7E **/
/** tab background color: #E3E8CE **/
/** Media link background: #ADB888 **/

/** IMAGES **/

#divTopRight {
    background: url(ne.png) top right;
}

#divBar {
    background: url(nw.png) top left;
}

#divClose {
    background: url('close.png') no-repeat; /* close button */
}

#divMin {
    background: url('min.png') no-repeat; /* min button */
}

#divMax {
    background: url('max.png') no-repeat; /* max button */
}

.stars {
    background: transparent url(stars-small.gif) repeat-x scroll 0pt -100px;
}

.stars-05, .stars-10, .stars-15, .stars-20, .stars-25, .stars-30, .stars-35, .stars-40, .stars-45, .stars-50 {
    background: transparent url(stars-small.gif) repeat-x scroll 0pt 0px;
}

.disclose-open {
    background: url(disclose-open.png) no-repeat; /* disclose open image */
}

.disclose-close {
    background: url(disclose-close.png) no-repeat; /* disclose close image */
}

#divBottomLeft {
    background: url(sw.png) no-repeat bottom left; /* bottom left corner image */
}

#divHandle {
    background: url(resize-handle.png) no-repeat; /* resize handle image */
}

/** Colors **/

.filter, .private-to-you {
	background-color:#333333;
	color:#EDEDED;
}

body, pre, #menu li:hover #menu-new-note, #menu li:hover #menu-view-more {
    color: #393D22;
}

input[type=text], input[type=password], textarea, .nexpanded .note a.imglnk, .nexpanded .note, #replynotesummary, #file-view h3, #note-detail-body p:hover, #note-detail, #user-note-image, .note-system-message img, #sendtohead, .image img, #people h3, #reply-people h3, #request-div, .messagewin, #request-img img, #leftwintitle, #people ul li img, #reply-people ul li img, #filter-div, .person, .person .img-link img, #profile-view #profile-image img, #profile-view h3 {
    border-color: #6E7E38;
}

#note-detail-body p {
    border-bottom-color: #6E7E38 !important;
}

#divTop, #divContentStrip, #menu, #menu-new-note, #menu-view-more, #statusbar, .toolwin, .messagewin, #note-detail-body p:hover {
    background: #ADBD7E url('head-bg.png');
}

.media-link {
    background-color: #ADB888;
    color: #393D22;
}

#settings-tabs li.tab-selected, #settings .tab-pane, #menu .menu-divider, #menu .menu-divider:hover, #friends-files, #friends-files li.row1, #friends-files li.row1 .file-details, #photos-notes, #photos-albums, #progress-tack, #photos-notes li.row1, #photos-notes li.row1 .song-details, #login-form, #reply-notes, #music-notes, #music-playlists, #progress-tack, #music-notes li.row1, #music-notes li.row1 .song-details, #notes, #people {
    background-color: #E3E8CE;
}

.nexpanded .reply, #settings-app-transparency-track {
    background-color: #ADB888;
}

.ntt-selected {
    color: #393D22; /* new note button text color */
    background-color: #ADB888 !important; /* new note background color */
    font-weight: bold;
}

#friends-files li {
}

#friends-files li.row0, #friends-files li.row0 .file-details, #photos-notes li.row0, #photos-notes li.row0 .song-details, #music-notes li.row0, #music-notes li.row0 .song-details {
    background-color: #ADB888; /* odd rows background color */
}

li.row0, li.row0 .file-details, li.row0 .song-details {
}

#people ul li, #reply-people ul li {
    color: #ADB888; /* people list text color */
}

