
.pro {
	background:url(pro.png) no-repeat; /* pro tag */
}

.pro-2 {
	background:url(pro-small.gif) no-repeat; /* pro tag */
}

input[type=button],  input[type=submit], #reply-notes, #notes, #favorites, #login-form, #settings-tabs li.tab-selected, #settings .tab-pane, #menu, #menu-new-note,  #menu-view-more, #file-upload-track, #people, .tool-divider  {
	border-color:#2C4872;
}

input[type=button],  input[type=submit], #menu li:hover, #file-upload-bar, #settings-app-transparency-handle {
	background-color:#2C4872!important;
}

input[type=button],  input[type=submit] {
    color: #CBDAF1;
}

input[type=button]:hover,  input[type=submit]:hover, #menu li:hover {
    color: #ffffff; /* button hover color */
}
